<div class="container2 text-center">
  <div class="box col-8 col-md-6 col-lg-4 overflow-auto">
    <div class="d-flex justify-content-center mt-5">
      <div class="img ms-3 me-2"></div>
      <a class="navbar-brand fw-bold fs-4 mt-2" href="#"
        >Nate's <span class="fw-light">HealthCare</span></a
      >
    </div>
    <br><br>
      <div class="container">
      <h5>Pls Visit Our HealthCare Facility To get registered</h5>
      <P>You account login in detals will be handed to you</P>
      </div>
      <br><br>

      <div>
        <p>Thank you for choosing our healthcare</p>
        <img src="https://cdn-icons-png.flaticon.com/512/9653/9653092.png" width="100px" alt="">
      </div>
      <br><br><br>
      <div>
        If you already have an account <a routerLink="/signin" href="">Login</a>
      </div>
  </div>
</div>
