<nav class="navbar navbar-expand-lg bg-body-tertiary" id="navbar">
  <div class="container-fluid">
    <div class="d-flex">
      <div class="img ms-3 me-2"></div>
      <a class="navbar-brand fw-bold fs-4" href="#">Nate's <span class="fw-light">HealthCare</span></a>
    </div>
    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav fw-bold  me-auto mb-2 mb-lg-0">
        <li class="nav-item active ms-2  d-flex">
          <a class="nav-link" aria-current="page" href="#">Home</a>
          <i class="bi-plus d-none d-lg-block"></i>
        </li>
        <li class="nav-item ms-2 p-0 d-flex">
          <a class="nav-link" href="#">About Us</a>
          <i class="bi-plus d-none d-lg-block"></i>
        </li>
        <li class="nav-item ms-2 d-flex">
          <a class="nav-link" href="#">Services</a>
          <i class="bi-plus d-none d-lg-block"></i>
        </li>
        <li class="nav-item ms-2 d-flex">
          <a class="nav-link" href="#">Doctors</a>
          <i class="bi-plus d-none d-lg-block"></i>
        </li>
        <li class="nav-item ms-2 d-flex">
          <a class="nav-link" href="#">Testimonial</a>
          <i class="bi-plus d-none d-lg-block"></i>
        </li>
        <li class="nav-item ms-2 d-flex">
          <a class="nav-link " href="#">Blog</a>
          <i class="bi-plus d-none d-lg-block"></i>
        </li>
      </ul>

      <ul class="d-flex">
        <li class="nav-item ms-2 d-flex">
          <button routerLink="/signin">Login</button>
        </li>
        <li class="nav-item ms-2 d-flex">
          <button routerLink="/signup">Sign Up</button>
      </ul>
    </div>
  </div>
</nav>
