<div class="sidebarr text-light" #side>
  <div class="mail text-center pb-3 w-100">
    <img
      src="https://cdn-icons-png.flaticon.com/512/4333/4333609.png"
      alt=""
      class="avatar img-t"
    />
    <h5>ADMIN</h5>
  </div>

  <div class="sidebar align-items-start d-block">
    <a  href="/admin/dashboard"><i class="bi-speedometer2"></i> Dashboard</a>
    <a href="/admin/doctors"><i class="bi-card-heading" routerLink="/admin/doctors"></i>Doctors</a>
    <a href="/admin/nurses"><i class="bi-card-heading"routerLink="/admin/nurses"></i>Nurse</a>
    <a href="/admin/patient"><i class="bi-person-heart"routerLink="/admin/patient"></i> Patients</a>
    <a href="/admin/departments"><i class="bi-card-heading" routerLink="/admin/departments"></i>Department</a>
    <a href="/admin/appointments"><i class="bi-card-list"routerLink="/admin/appointments"></i>Appointment List</a>
    <div class="dropdown-sidebar">
      <a ><i class="bi-card-heading"></i>Monitor Hospital <span class="float-end"><i class="bi-caret-down-fill"></i></span></a>
      <div class="dropdown-sidebar-content">
        <a href="/admin/monitor-hospital/blood-bank" class="active"><small>Blood Bank</small> </a>
        <a href="/admin/monitor-hospital/report"><small>Report</small> </a>
        <a ><small>Medicine</small> </a>
        <a href="/admin/monitor-hospital/equipments"><small>Equipments</small> </a>
        <a><small>Mail</small> </a>
        <a><small>Settings</small> </a>
      </div>
    </div>
    <a href=""><i class="bi-box-arrow-left"></i>Log Out</a>
  </div>
</div>
<div class="content" #cont>
  <div class="page-wrapper">
    <nav class="navbar border border-bottom border-1 shadow-sm">
      <div class="navbar-header">
        <div class="d-block">
          <i class="navbar-toggler-icon" (click)="toggle()"></i>
        </div>
      </div>
      <div class="ul">
        <ul class="d-flex list-unstyled me-5">
          <li class="nav-item search me-3">
            <i class="bi-search fs-5"></i>
          </li>
          <li class="nav-item me-3">
            <div class="circle">
              <img
                src="https://cdn-icons-png.flaticon.com/512/4333/4333609.png"
                alt=""
                class="avatar img-t"
              />
              <div class="dropdown">
                <div class="dropdown-content">
                  <a href="#"> <i class="bi-person-circle me-2 f"></i>Profile</a>
                  <a href="#"><i class="bi-bell me-2"></i>Notifications</a>
                  <a href="#"><i class="bi-box-arrow-left me-2"></i>Log Out</a>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <br/><br/>

    <div class="page-content ms-3 me-2">
      <h3>Blood Bank</h3>
    <br>
    <div class="row">
      <div class="col-12">
        <div class="text-end">
          <div class="d-flex ">
            <input type="text" class="form-control txt-input shadow-none w-50" placeholder="Search Donor" />
            <div class="search-2">
              <i class="bi-search"></i>
            </div>
          </div>
      </div>
      <!--  -->
      <br><br><br><br>
      <h4>Recent Blood Donors</h4>
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Donor's Name</th>
              <th scope="col">Blood Group</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>John Doe</td>
              <td>O+</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>John Doe</td>
              <td>O+</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>John Lukas</td>
              <td>AB-</td>
            </tr>
          </tbody>
        </table>
        <p class="text-primary pointer">View more >></p>
      </div>
      <!--  -->
      <br><br>
      <h4>Recent Blood Donors</h4>
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Blood Group</th>
              <th scope="col">Qty</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of bloodGgroups">
              <td>{{i.name}}</td>
              <td>{{i.amount}}</td>
              <td>
                <button class="btn btn-sm btn-primary me-2" (click)="add(i)">+</button>
                <button class="btn btn-sm btn-danger ms-2" (click)="minus(i)">-</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>

<!-- modal -->
<!-- Button trigger modal -->
