<div class="page-wrapper">
  <nav class="navbar shadow border border-bottom border-1">
    <div class="container-fluid">
      <div class="navbar-header">
        <div class="d-flex">
          <img
            src="https://cdn-icons-png.flaticon.com/512/8166/8166558.png"
            alt="doctor"
            class="img-icon"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling"
            aria-controls="offcanvasScrolling"
          />
          <div class="img ms-5 me-2"></div>
          <a class="navbar-brand fw-bold fs-4" href="#"
            >Nate's <span class="fw-light">HealthCare</span></a
          >
        </div>
      </div>
      <div class="ul">
        <ul class="d-flex list-unstyled me-5 mt-4">
          <li class="nav-item search me-3">
            <i class="bi-search fs-5"></i>
          </li>

          <li class="nav-item me-3">
            <div class="circle">
              <img
                src="https://cdn-icons-png.flaticon.com/512/4333/4333609.png"
                alt=""
                class="avatar img-t"
              />
            </div>
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <p class="dropbtn text-dark">
                {{ showDoctorInfo.fullname
                }}<span><i class="bi-caret-down ms-2 pt-4"></i></span>
              </p>
              <p class="text-primary">{{ showDoctorInfo.department }}</p>
              <div class="dropdown-content">
                <a href="#"> <i class="bi-person-circle me-2"></i>Profile</a>
                <a href="#"><i class="bi-bell me-2"></i>Notifications</a>
                <a href="#"><i class="bi-box-arrow-left me-2"></i>Log Out</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    data-bs-backdrop="false"
    tabindex="-1"
    id="offcanvasScrolling"
    aria-labelledby="offcanvasScrollingLabel"
  >
    <div class="offcanvas-header d-block text-center">
      <!-- <p>Dr. Favour Daisi</p> -->
      <img
        src="https://cdn-icons-png.flaticon.com/512/4333/4333609.png"
        alt="profile"
        class="profile"
      />

      <button
        type="button"
        class="btn-close float-end"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="pt-5">
      <div class="mail text-center pb-3 w-100">
        <p class="" id="offcanvasScrollingLabel">
          {{ showDoctorInfo.fullname }}
        </p>
        <p class="fw-bold">{{ showDoctorInfo.department }}</p>
      </div>
      <div class="sidebar align-items-start d-block">
        <a href="doctor/dashboard"><i class="bi-speedometer2"></i> Dashboard</a>
        <a href="doctor/patient"><i class="bi-person"></i>Patients</a>
        <a href="doctor/appointment" class="active"
          ><i class="bi-card-list"></i>Appointment List</a
        >
        <a href="doctor/report"><i class="bi-card-heading"></i>Report</a>
        <a href="#"><i class="bi-box-arrow-left"></i>Log Out</a>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="page-content ms-3 me-2">
    <div class="container-fluid">
      <h5 class="mb-2">Appointment Request</h5>
      <!-- card to accept and decline appointments -->
      <div class="row mb-5">
        <div class="col-6 col-md-4" *ngFor="let i of pendingAppointment">
          <div *ngIf="i.status == 'Pending'" class="card">
            <div class="card-body">
              <div class="img"></div>
              <div class="req">
                <p class="fw-bold">
                  Name:
                  <span class="float-end fw-light">{{
                    i.patientDetails?.fullname
                  }}</span>
                </p>
                <p class="fw-bold">
                  Age:
                  <span class="float-end fw-light">{{
                    i.patientDetails?.age
                  }}</span>
                </p>
                <p class="fw-bold">
                  Date Of Appointment:<span class="float-end fw-light">{{
                    i.date
                  }}</span>
                </p>
                <p class="fw-bold">
                  Time:<span class="float-end fw-light">{{ i.time }}</span>
                </p>
                <p class="fw-bold">
                  Reason:<span class="float-end fw-light">{{ i.reason }}</span>
                </p>
              </div>
            </div>
            <div class="card-footer">
              <div class="button-group float-end">
                <button
                  class="btn rounded-0 btn-primary btn-sm shadow-none"
                  (click)="acceptAppointment(i.id)"
                >
                  Accept
                </button>
                <button
                  class="btn rounded-0 btn-danger btn-sm shadow-none"
                  (click)="cancelAppointment(i.id)"
                >
                  Decline
                </button>
              </div>
            </div>
          </div>
          <div *ngIf=""></div>
        </div>

        <div class="row mt-5">
          <h5>All Appointments</h5>
          <p>View all your appointments</p>
          <div class="col-md-12">
            <div class="card shadow">
              <div class="card-body">
                <div class="table-responsive">
                  <div class="card">
                    <div class="card-body">
                      <br />
                      <div class="row">
                        <div class="col-3">
                          <div class="button-group">
                            <button
                              class="btn rounded-0 btn-primary btn-sm shadow-none"
                            >
                              Active
                            </button>
                            <button
                              class="btn rounded-0 btn-danger btn-sm shadow-none"
                            >
                              Cancelled
                            </button>
                            <!-- <button class="btn rounded-0 btn-success btn-sm shadow-none">Completed</button> -->
                          </div>
                        </div>
                        <!--  -->
                        <div class="col-9">
                          <div class="d-flex float-end">
                            <input
                              type="text"
                              class="form-control txt-input shadow-none"
                              placeholder="Search Patient"
                            />
                            <div class="search-2">
                              <i class="bi-search"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br /><br />
                      <table class="w-100">
                        <tr>
                          <th>Appointment ID</th>
                          <th>Patient Name</th>
                          <th>Appointment Type</th>
                          <th>Appointment Date</th>
                          <th>Appointment Time</th>
                          <th>Appointment Status</th>
                        </tr>
                        <tr
                          *ngFor="
                            let i of ActiveOrCancelledAppointment
                              | paginate
                                : {
                                    id: 'appointment',
                                    itemsPerPage: tableSize,
                                    currentPage: page,
                                    totalItems:
                                      ActiveOrCancelledAppointment.length
                                  }
                          "
                        >
                          <td>{{ i.id }}</td>
                          <td>{{ i.patientDetails?.fullname }}</td>
                          <td>{{ i.reason }}</td>
                          <td>{{ i.date }}</td>
                          <td>{{ i.time }}</td>
                          <td>{{ i.status }}</td>
                        </tr>
                      </table>
                      <div class="text-end py-3">
                        <pagination-controls
                          previousLabel=""
                          nextLabel="Next"
                          id="appointment"
                          (pageChange)="page = $event"
                          class="bg-success"
                        ></pagination-controls>
                      </div>
                      <!--  -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
